{% extends 'layout.html' %}

{% block content %}
    <h1>List of Categories</h1>
    <a href="{{url_for('category_add')}}" class="btn btn-primary">
        <i class="fa fa-plus" aria-hidden="true"></i>
        Add</a>
    <hr>
<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Description</th>
            <th>Products in the Category</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
    {% for category in categories %}
      <tr>
        <td>{{category.id}}</td>
        <td>{{category.name}}</td>
        <td>{{category.description}}</td>
        <td>{{category.products | length }}</td> 
        <td>
        <a href="{{url_for('product_list', id=category.id)}}" class="btn btn-primary">
            <i class="fa fa-glass" aria-hidden="true"></i>
            Open</a>
        <a href="{{url_for('category_edit', id=category.id)}}" class="btn btn-outline-primary">
            <i class="fa fa-pencil" aria-hidden="true"></i>
            Edit</a>
        <a href="{{url_for('category_delete', id=category.id)}}" class="btn btn-danger">
            <i class="fa fa-trash" aria-hidden="true"></i>
            Delete</a>
        </td>
      </tr>
    {% endfor %}
    </tbody>
</table>


{% endblock %}