{% extends 'layout.html' %}

{% block content %}
    <h1>
        Admin Dashboard
    </h1>
    <hr>
    <h2>
        Users
    </h2>
    <p>
        Number of registered users: {{users | length}}
    </p>
    <a href="{{url_for('user_list')}}" class="btn btn-outline-primary">
        <i class="fa fa-user" aria-hidden="true"></i>
        List Users
    </a>
    <hr>
    <h2>
        Categories (Total: {{categories | length}})
    </h2>
    <a href="{{url_for('category_list')}}" class="btn btn-outline-primary">
        <i class="fas fa-warehouse"></i>
        All Categories
    </a>
    <a href="{{url_for('export_data')}}" class="btn btn-outline-primary">
      <i class="fa fa-arrow-circle-up" aria-hidden="true"></i>
      Export Data
    </a>
    <div>
    <canvas id="myChart"></canvas>
    </div>

{% endblock %}

{% block script %}
    
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
  const ctx = document.getElementById('myChart');

  new Chart(ctx, {
    type: 'bar',
    data: {
      labels: {{category_names | safe}},
      datasets: [{
        label: '# of Products in each Category',
        data: {{category_sizes | safe}},
        borderWidth: 1
      }]
    },
    options: {
      scales: {
        y: {
          beginAtZero: true
        }
      }
    }
  });
</script>
{% endblock %}