{% extends 'layout.html' %}

{% block content %}
<div class="profilecard">
    <img class="profilepic"
    src="https://api.dicebear.com/9.x/{{user.dicebear_image}}/svg?seed={{user.username}}" alt="">
    <div class="profileinfo">
        <h1>{{ user.username }}</h1>
        <p>{{ user.name }}</p>
    </div>
</div>
<form action="" method="post">
    <select name="dicebear" id="dicebear" class="form-select">

        {% for option in dicebear_options %}
        <option value="{{option[0]}}"
        {% if user.dicebear_image == option[0] %}
        selected
        {% endif %}
        >{{option[1]}}</option>
        {% endfor %}

    </select>
    <label class="form-label" for="username">Username:</label>
    <input class="form-control" type="username" name="username" id="username" value="{{user.username}}">
    <label class="form-label" for="password">Current Password:</label>
    <input class="form-control" type="password" name="password" id="password">
    <label class="form-label" for="npassword">New Password:</label>
    <input class="form-control" type="password" name="npassword" id="npassword">
    <button class="btn btn-primary" type="submit">Change</button>
</form>

<form action="{{url_for('delete_user', id=user.id)}}" method="post">
    <button class="btn btn-danger" type="submit">Delete my account</button>
</form>

{% endblock %}

{% block style %}
    <style>
        .profilepic{
            border-radius: 50%;
            aspect-ratio: 1/1;
            width: 150px;
            margin-right: 25px;
        }
        .profilecard{
            margin: 15px;
            display: flex;
            flex-direction: row;
            align-items: center;
        }
        .profileinfo{
            display: flex;
            flex-direction: column;
        }
    </style>
{% endblock style %}